
<section id="content" class="content">
    <h1></h1>
    <span class="author"></span>
    <span class="date"></span>
    
    <article></article>
</section>
<div class="comment">
    <h2>评论</h2>
    <dl class="clearfix">
        <dt>昵称</dt>
        <dd><input type="text" placeholder="昵称" /></dd>
    </dl>

    <dl class="clearfix">
        <dt>内容</dt>
        <dd><textarea name="" id="" cols="30" rows="10" placeholder="有事没事，都留个言呗"></textarea></dd>
    </dl>
    
    <dl class="clearfix">
        <dt>&nbsp;</dt>
        <dd><button class="button" data-style="green">提交</button></dd>
    </dl>
    
</div>