<div class="main">
    <h2>最新文章</h2>
    <div id="contents" class="contents"></div>

    <div id="pager">
        <a class="prev" href="#">< 前页</a>
        <a class="next" href="#">后页 ></a>
    </div>
</div>
<aside>
    <h2>搜索</h2>
    <div class="search">
        <input type="text" id="search-input" placeholder="标题、作者" />
        <button id="search-submit" title="搜索"></button>
    </div>
    <h3>留言</h3>
    <div class="comment">
        <ul>
            <li>这个东东不赖</li>
            <li>我再发个评论，应该能立马刷出来了，哈哈</li>
            <li>评论一下啊</li>
            <li>这个功能是用来玩的</li>
        </ul>
    </div>
    <h2>标签</h2>
    <div class="tags">
        <a href="">前端</a>
        <a href="">产品</a>
        <a href="">设计</a>
        <a href="">苹果</a>
        <a href="">测试标签</a>
    </div>
</aside>